/**

*/
:root {
    --clr-primary: 0 0 255;
    --clr-secondary: 0 128 0;
    --clr-accent: 94 94 160;
    --clr-light: 255 255 255;
    --clr-dark: 3 3 17;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(var(--clr-dark));
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin:1rem 0 2rem;
    color: rgb(var(--clr-light));
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

#app {
    width: clamp(500px, 90%, 700px);
    margin-top: 4rem;
    margin-inline: auto;
    padding: 2rem 2rem 10rem;
    border: 2px solid gray;
}

.para{
    background-color: white;
    width: 20%;
    margin: .5rem auto;
    font-size: 1.2rem;
    text-align: center;
    
}

.but{
    background-color: white;
    width: 35%;
    margin: .5rem auto;
    font-size: 1.2rem;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.search-btn {
    flex-basis: 20%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    background-color: rgb(var(--clr-primary));
    color: rgb(var(--clr-light));
    font-weight: bold;
}

.search-btn:hover,
.search-btn:focus {
    background-color: rgb(var(--clr-accent));
}

input[type='text'] {
    flex-basis: 70%;
    padding-left: 1rem;
    padding-block: .5rem;
}

input[type='text']:focus {
    outline-color: rgb(var(--clr-accent));
}

#tasklist {
    padding: 0;
    list-style: none;
}

.task-item {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 2px solid rgb(var(--clr-light));
    border-radius: .5rem;
    padding: .6rem 0.5rem;
    color: rgb(var(--clr-light));
    background-color: rgb(var(--clr-secondary) / 0.4);
}

.fas.fa-trash {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    cursor: pointer;
    color: red;
}

.task-item:not(:first-child) {
    margin-top: 1rem;
}